* {
    margin: 0;
    padding: 0;
    font-family: 'Tahoma';
}

body {

    background-color: #080808;
}

#nav-menu {

    background-color: #080808;
    padding: 18px 10%;
    height: 40px;
    border: 1px solid RGB(35, 40, 62);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;

}

.nav {
    position: fixed;
    z-index: 1;
    width: 100%;
}

/* ============= */
/* .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    right: -40px;
    cursor: pointer;
    position: absolute;
    display: none;
}
 */


/* ============= */
.logo {
    width: 140px;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.logo::after {
    content: '';
    width: 0;
    height: 3px;
    color: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s
}

.logo:hover::after {
    width: 100%;
}

nav .fas{
    color: white;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px;
    position: relative;
    color: white
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: orangered;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.8s
}

nav ul li a:hover::after {
    width: 100%;
    color: white;
}

nav .fas {
    display: none;
}

.bi-brightness-high {

    color: white;
    cursor: pointer;
}

#toggle1 {
    display: none;
}

@media only screen and (max-width:920px) {
     #toggle1 {
        margin-left: 30%;
        display: block;
    }

    nav.fas {
        display: block;
        font-size: 25px;
        color: white;
    }

    .nav {
        position: fixed;
        top: 0;
        z-index: 1;
    }
  
    
    nav ul {
       
        background-color: #080808;
        color: white;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;

    }

    nav ul li {
        display: block;
        margin: 25px;

    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    nav .fas {
        display: block;
        font-size: 25px;

    }

    ul li {
        position: fixed;
        top: 0;
        right: 0;
    }

    ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
}

/* ............................................Home Section.................................. */

#home {
    position: relative;
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

#home .max-width {
    padding-top: 8%;
    width: 100%;
    display: flex;
}


#home .home-content .text-1 {
    font-size: 40px;
    color: white;
}

#home .home-content .text-2 {
    font-size: 70px;
    font-weight: 600;
    color: orangered;
}

#home .home-content .text-3 {
    font-size: 25px;
    margin-top: 3%;
}

#home .home-content .text-3 span {
    color: white;
    font-weight: 600;
}

#home .home-content a {
    display: inline-block;
    color: white;
    background: none;
    border: none;
    font-size: 25px;
    font-weight: 400;
    border-radius: 6px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.home-content {
    width: 80%;
    margin: auto;
    justify-content: space-between;
    margin-top: 100px;
}

.home-content>div:nth-child(2) {
    width: 300px;
    height: 350px;
}

.home-content>div:nth-child(2)>img {

    width: 100%;
    height: 90%;
    border-radius: 50%;
}

#resume-button-2 {
    display: inline-block;
    color: #90A0D9;
    background: none;
    border: 1px solid #90A0D9;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 28px;
    font-weight: 400;
    border-radius: 6px;
    transition: all 0.3s ease;
    text-decoration: none;
    cursor: pointer;
}

#resume-button-2:hover {
    background: #90A0D9;

}

#resume-button-2:hover>a {
    color: RGB(35, 40, 62);
}

/* ................................About Section............................. */
#about {

    margin: auto;
    width: 80%;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 5%;
}

#about h1 {
    padding-top: 20%;
    text-align: center;
    font-size: 40px;
    color: white;
}

.about-section1 {
    margin: auto;
    margin-top: 4%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.about-section1>div>img {
    width: 100%;
    border-radius: 20px;
}

#user-detail-intro {
    margin-top: 3%;
    margin-left: 10%;
    color: white;
    font-size: 18px;
    font-weight: 500;
}


/* ..............................Skill Section......................... */
#skills h1 {
    padding-top: 10%;
    color: white;
    text-align: center;
    font-size: 40px;
    margin-bottom: 4%;
    padding-bottom: 5%;
}

.skill {
    height: auto;
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5% 3%;
    padding-bottom: 50px;
    margin-bottom: 8%;

}

.skills-card {
    text-align: center;
    width: 90%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid white;
    padding: 3%;
    background-color: #90A0D9;
}

.skills-card:hover {
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.skills-card img {
    width: 60%;
    padding-top: 4%;
}

.skills-card-name {
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
}

/* ........................................Project Section .................................. */

#projects h1 {
    padding-top: 5%;
    text-align: center;
    font-size: 40px;
    margin-bottom: 3%;
    color: white
}

.project {
    width: 70%;
    display: block;
    margin: auto;
}

/* .project>.project-card {
    display: flex;
   
} */

.project-card {
    width: 100%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: RGB(35, 40, 62);
    color: white;
    margin-bottom: 5%;
    padding: 3% 1% 3% 1%;
    border-radius: 20px;
}

#firstprojectdiv {
    width: 100%;
}

#firstprojectdiv img {
    width: 90%;
    height: auto;
    margin: 10px;
    border-radius: 10px;

}

.project-card:hover {
    transition: 0.5s;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

.project-card h1 {
    left: 0;
    font-size: 20px;
}

.project .project-card p {
    margin: 5px 10px;
}

.project-tech-stack {
    margin: 15px 0px;
    font-size: 20px;
}

.repo-links {
    display: flex;
    justify-content: space-evenly;
    height: 45px;
    margin: 10px 20px;
}

.project-github-link {
    display: flex;
    width: 35%;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.project-github-link a {
    text-decoration: none;
    color: white;
}

.project-github-link:hover {
    background-color: white;
}

.project-github-link:hover a {
    background-color: white;
    color: RGB(35, 40, 62);
}

.project-deployed-link {
    display: flex;
    width: 35%;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.project-deployed-link a {
    text-decoration: none;
    color: white;
}

.project-deployed-link:hover {
    background-color: white;
}

.project-deployed-link:hover a {
    background-color: white;
    color: RGB(35, 40, 62);
}

/* ..................................GitHUb.......................................... */
.github-activity-calendar>h1:first-child {
    margin-top: 8%;
}

.github-activity-calendar>h1:nth-child(3) {
    margin-top: 4%;
}

.github-activity-calendar h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 3%;
    color: white;
    padding-top: 30px;
}

.github {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    gap: 3%;
}

.github-activity-calendar>div:nth-child(4) {
    margin: auto;
    width: 80%;
}



/* ..................................Contact.......................................... */

#contact {
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin-top: 6%;
    background-color: #080808;
}

#contact>div {
    padding: 0%;
    margin: auto;
}

#contact>div>h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 4%;
    margin-bottom: 2%;
}

#contact>div>p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 2%;
    color: white;
}

#contact>div>div {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 20%;
    margin: auto;
}

#contact>div>div>h1 {
    font-size: 40px;
    cursor: pointer;
    color: white;
}

/* -------------------media query------------------------------------ */


@media screen and (min-width: 820px) and (max-width:1180px) {



    #home {
        height: auto;
        padding-bottom: 30px;
    }


    .skill {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px
    }


    .github {
        display: grid;
        margin: auto;
        grid-template-columns: repeat(1, 1fr);
        /* margin-left: 80px; */
        text-align: center;
    }

    #contact {
        width: 100%;
        margin: auto;

    }

    .contact-first {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

    }
}



@media screen and (min-width: 200px) and (max-width:820px) {

    .home-content {
        display: block;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-left: 20px;
    }

    #home {
        height: auto;
        width: auto;
        padding-bottom: 50px;
    }

    #one {
        margin-left: 40px;
        margin-top: 150px;
        width: auto;

    }

    .right {
        margin-left: 30px;

    }

    .about-section1 {
        display: block;
    }

    .skill {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }


    .github {
        display: grid;
        grid-template-columns: repeat(1, 1 fr);
        margin-left: 20px;
    }

    #github-streak-stats img {
        width: 50%;
        margin-top: 20px;
    }

    #github-stats-card img {
        width: 70%;
        margin-top: 15px;
        margin-left: 50px;
    }

    #github-top-langs {
        margin-top: 15px;
    }

    .contact-first {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-top: 20px;
        margin-left: 40px;
    }

    #contact {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .contact-first div {
        font-size: 20px;
    }

    .about-section {

        display: grid;
        grid-template-rows: repeat(1, 1fr);
        gap: 20px;


    }

    .left img {
        margin-left: 20px;
    }

    .right p {
        font-size: 15px;
        text-align: start;
        color: white;
    }

    .github div {
        width: 25%;
    }

    .github div img {
        width: 350%;
    }

    .calendar react-activity-calendar {
        width: auto;
    }

    .home-content>div:nth-child(2)>img {

        width: auto;
        height: 90%;
        border-radius: 50%;
    }

}


@media screen and (min-width: 280px) and (max-width:653px) {


    #home {
        width: 100%;
    }

    .home-content>div:nth-child(2)>img {

        width: 70%;
        height: 70%;
        border-radius: 50%;
        margin-top: 20px;
    }

    #home {
        height: 100%;

    }



    #skills {
        margin-left: -20px;
        
    }
    .skill {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    /* .react-activity-calendar h1{
  width: 100px;
  margin-left: 30px;
  } */

}






/* ================================================= */

@media screen and (min-width: 653px) and (max-width:820px) {

    
    .skill {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px
    }

    #skills {
        margin: auto;
        justify-content: center;
    }

    #skills h1 {
        text-align: center;
    }

    .project-card {
        display: block;
    }

    .github {

        margin: auto;
        text-align: center;
    }

    #contact>div>div>h1 {
        font-size: 30px;
        cursor: pointer;
        color: white;
    }

}

@media all and (max-width: 653px) {

    .project-card {
        display: block;
    }

    .github {

        margin: auto;
        text-align: center;
    }

    #contact>div>div>h1 {
        font-size: 20px;
        cursor: pointer;
        color: white;
    }
    .skill {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px
    }

    #skills {
        margin: auto;
        justify-content: center;
    }

}